# output
/dist

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
/.nyc_output

# misc
.DS_Store
*.pem

# log files
logs
*.log
npm-debug.log*
pnpm-debug.log*
.pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# env files
.env*.local
.env
.test.env
.development.env
.production.env
.env.dev
.env.prod

# lock files
package-lock.json
yarn.lock

# ide files
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# eslint
.eslintcache